
.nav-bar{

    }.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
  }

  .nav-bar li {
    float: right;
  }

  .nav-bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  /* Change the link color to #111 (black) on hover */
  .nav-bar li a:hover {
      background-color: #111;
  }


.container{
  margin: 50px;
}

.container img{
  float: left;
  width: 23%;
  margin: 2%;
  margin-left: 7%;
}


.images {
  border: none;
}

.footer{
	width: 100%;
	position: fixed;
	margin-bottom: 0px;
	height: 80px;
	background-color: #1A1A1A;
	display: block;
  color: white;
}
