@import 'compass/reset';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Bellefair|Lekton|Poiret+One|Raleway');
// font-family: 'Bellefair', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Poiret One', cursive;
// font-family: 'Lekton', sans-serif;
$break-small: 320px; //iphone 5
$break-large: 1200px;

body {
    background-color: #252422; //252422de
    display: flex;
    font-family: 'Lekton', sans-serif;
    // font-family: 'Titillium Web', sans-serif;
    justify-content: center;
    padding-top: 6em;
}

.content-block {
    @media screen and (min-width: $break-small) {
        margin-top: 10%;
        padding-left: 2%;
        padding-right: 2%;
    }
    @media screen and (min-width: $break-large) {
        margin-top: 9%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.name {
    @media screen and (min-width: $break-small) {
        color: #fff;
        font-size: 4.5em;
        margin: 0 auto;
        margin-left: 20%;
        padding-bottom: 15%;
        // padding-left: 4%;
        // padding-right: 4%;
    }
    @media screen and (min-width: $break-large) {
        color: #fff;
        font-size: 8.5em;
        margin: 0 auto;
        padding-bottom: 11%;
        padding-left: 5%;
        padding-right: 5%;
    }

}

#fname {
    @media screen and (min-width: $break-small) {
        margin-left: 13%;
    }
    @media screen and (min-width: $break-large) {
        margin-left: 0%;
    }
}

#name-text {
    font-size: .75em;
}

.info {
    @media screen and (min-width: $break-small) {
        color: #fff;
        font-size: 1.2em;
        padding-bottom: 3%;
        text-align: center;
    }
    @media screen and (min-width: $break-large) {
        color: #fff;
        font-size: 1.9em;
        padding-bottom: 3%;
        text-align: center;
    }
}

.icon-links {
    display: none;


    ul {
        display: table;
        margin: 0 auto;
        padding-top: 8%;

        li {
            -webkit-transition: all .3s;
            display: inline;
            font-size: 1em;
            list-style: none;
            transition: all .3s;
            &:hover {
                color: #38869e;
                font-size: 1.2em;
            }
        }
    }

    a {
        color: #fff;
        padding: 10px;
    }
}
